body {
	background-color: #eeeeee
}

.artist-container{
	width: 200px
	height: 200px;
	border: 1px #3c3c3c solid;
	font-size: 14px;
	margin: 2px;
}
.artist-image{
	/*border: 1px #3f3f3f solid;*/
	/*padding: 8px;*/
	cursor: pointer
}
.loading-gif{
	max-width: 50px;
	max-height: 50px
}