body {
    font-family: "Source Sans Pro","Helvetica Neue",Helvetica,Arial,sans-serif;
}
.logo-panel{
padding:100px; 
}


.text-vertical-center h1 {
  padding-top:200px; 
  color: white;
    font-size: 6em;
    font-weight: 700;

}
.text-vertical-center h3 {
  padding:0px; 
  color: white;

    font-weight: 500;
}
.gap{

  margin-top: -9px;
  margin-right: -10px;
}

.landing-div{
margin-top: -22px;
height: 600px;

}

.bit-img{
  
    background-image: url('./Images/bitcoingb.png');
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: cover;
    background-attachment: fixed;
}
.landingbg{
background-color: #459245;

    position: absolute;
    top: 0;
    left: 0;

    width: 100%;

}
.landingbg-nav{

  
   position: absolute;
    top: 0;
    left: 0;
 z-index: -100;

}
.sidenav ul{
list-style-type: none;
}
.sidenav a {
    padding: 8px 8px 8px 0px;
    text-decoration: none;
    font-size: 25px;
    color: #FFFFFF;
    display: block;
    transition: 0.3s
}
.sidenav{
  padding-left:2px;
  height: 100%; 
}
.btn-nav-top{

 margin-top: 21px  !important;  
}

.App {
  text-align: center;
}
.logoBit{
  height: 80px;
  padding: 0;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 5px;
  color: white;
}

.App-intro {
  font-size: large;
}
.transparent{
  background: transparent !important;
}
.blanco{
  color: white !important;
}
.navBackground{
  background-color:#009245 !important;
  background-image: url('./Images/network.svg');
}
@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
